<div class="row">
  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Default Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'"></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Flat Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" [look]="'flat'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'flat'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'flat'"></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Outline Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" [look]="'outline'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'outline'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'outline'"></button>
    </p>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-3 example-col">
    <p>Clear Button</p>
    <p class="k-block">
      <button kendoButton (click)="onButtonClick()" [look]="'clear'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'clear'">Browse</button>
      <button kendoButton (click)="onButtonClick()" [icon]="'folder'" [look]="'clear'"></button>
    </p>
  </div>
</div>
